<html>
<head>
  <title>University of Life Registrar</title>
</head>
<body>
  <h1>Students</h1>

  {% if students is not empty %}
    <p>All students in Registry:</p>
    <ul>
      {% for student in students %}
        <li><a href='/students/{{ student.getId }}'>{{ student.getFullname }}</a></li>
        <li><a href='/students/{{ student.getId }}'>{{ student.getEnrollDate }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}

  <form action='/students' method='post'>
    <label for='fullname'>Student Name:</label>
    <input id='fullname' name='fullname' type='text'>

    <button type='submit'>Add Student</button>
  </form>
  <form action='/delete_students' method='post'>
    <button type='submit'>Delete</button>
  </form>
  <p><a href='/'>Home</a></p>

</body>
</html>
